
<header class="fixed-top header">
    <!-- top header -->
    <div class="top-header py-2 bg-white">
      <div class="container">
        
        <div class="row no-gutters">
         
          <div class="col-lg-4 text-center text-lg-left">
            <a class="text-color mr-3" href="callto:+443003030266"><strong>TEL</strong> +216 70 038 069</a>
            <ul class="list-inline d-inline"> 
              <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://www.facebook.com/ClevoryTraining"><i class="ti-facebook"></i></a></li>
              <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://www.linkedin.com/company/clevory-training/"><i class="ti-linkedin"></i></a></li>
              <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://www.instagram.com/clevorytraining/?hl=fr"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <nav class="navbar navbar-expand-lg ">
          <div class="col-lg-8 text-center text-lg-right collapse navbar-collapse" id="navigation">
            <ul class="list-inline navbar-nav">
              <!--<li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html">notice</a></li>
              <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html">research</a></li>
              <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html">SCHOLARSHIP</a></li> -->
              <!--<li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block"  (click)="NotifyAdmin()">Send notifications to Admin</a></li>-->
              
              <li class="nav-item dropdown list-inline-item">
                <a class="nav-link text-color p-sm-2 py-2 px-0 d-inline-block" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i style="font-size: 25px;color: white;" class="ti-bell" ></i>
                   <span style="font-size:20px;color: white;" class="notification">{{this.notification_number}}</span>
                   
               </a>
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  

                   <div  *ngIf="this.notification_list.length>1">
                    <div *ngFor="let not of this.notification_list;let indexOfelement=index;"  >
                        <a   *ngIf="this.notification_list[indexOfelement]" class="dropdown-item" href="javascript:void(0)">{{not}}</a>
                        </div>
                    </div>
                    <a  *ngFor="let n of this.notifications" class="dropdown-item" href="javascript:void(0)">{{n.content}}</a>
                 
               </div>
               
           </li>

              <li style="font-size: 15px;" class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" data-toggle="modal" data-target="#loginModal">logout</a></li>
            
              
              <li class="list-inline-item">{{prenom}}</li>
            </ul>
          </div>
</nav>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div class="navigation w-100">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark p-0">
          <a class="navbar-brand" href="index.html"><img src="../../../assets/images/logo2.png" alt="logo"></a>
          <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto text-center">
              <li class="nav-item ">
                <a class="nav-link" routerLink=''>Home</a>
              </li>
              
              <li class="nav-item ">
                <a class="nav-link" routerLink='/examensClient'>Examens</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink='/formationsClient'>Formations</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink='/calendar'>Calender</a>
              </li>
             <!-- 
               <li class="nav-item dropdown view">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Pages
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="teacher.html">Teacher</a>
                  <a class="dropdown-item" href="teacher-single.html">Teacher Single</a>
                  <a class="dropdown-item" href="notice.html">Notice</a>
                  <a class="dropdown-item" href="notice-single.html">Notice Details</a>
                  <a class="dropdown-item" href="research.html">Research</a>
                  <a class="dropdown-item" href="scholarship.html">Scholarship</a>
                  <a class="dropdown-item" href="course-single.html">Course Details</a>
                  <a class="dropdown-item" href="event-single.html">Event Details</a>
                  <a class="dropdown-item" href="blog-single.html">Blog Details</a>
                </div>
              </li>
              -->
          


              <li class="nav-item dropdown view">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Mes Demandes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink='/demandes'>Formations</a>
                  <a class="dropdown-item" href="/demandesExams">Examens</a>
                </div>
              </li>

              <li class="nav-item ">
                <a class="nav-link" routerLink='/profilClient'>Profil</a>
              </li>
             
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- /header -->
