
  body{margin-top:20px;
    background:#eee;
    }
    
    .white-bg {
        background-color: #ffffff;
    }
    .page-heading {
        border-top: 0;
        padding: 0 10px 20px 10px;
    }
    
    .forum-post-container .media {
      margin: 10px 10px 10px 10px;
      padding: 20px 10px 20px 10px;
      border-bottom: 1px solid #f1f1f1;
    }
    .forum-avatar {
      float: left;
      margin-right: 20px;
      text-align: center;
      width: 110px;
    }
    .forum-avatar .img-circle {
      height: 48px;
      width: 48px;
    }
    .author-info {
      color: #676a6c;
      font-size: 11px;
      margin-top: 5px;
      text-align: center;
    }
    .forum-post-info {
      padding: 9px 12px 6px 12px;
      background: #f9f9f9;
      border: 1px solid #f1f1f1;
    }
    .media-body > .media {
      background: #f9f9f9;
      border-radius: 3px;
      border: 1px solid #f1f1f1;
    }
    .forum-post-container .media-body .photos {
      margin: 10px 0;
    }
    .forum-photo {
      max-width: 140px;
      border-radius: 3px;
    }
    .media-body > .media .forum-avatar {
      width: 70px;
      margin-right: 10px;
    }
    .media-body > .media .forum-avatar .img-circle {
      height: 38px;
      width: 38px;
    }
    .mid-icon {
      font-size: 66px;
    }
    .forum-item {
      margin: 10px 0;
      padding: 10px 0 20px;
      border-bottom: 1px solid #f1f1f1;
    }
    .views-number {
      font-size: 24px;
      line-height: 18px;
      font-weight: 400;
    }
    .forum-container,
    .forum-post-container {
      padding: 30px !important;
    }
    .forum-item small {
      color: #999;
    }
    .forum-item .forum-sub-title {
      color: #999;
      margin-left: 50px;
    }
    .forum-title {
      margin: 15px 0 15px 0;
    }
    .forum-info {
      text-align: center;
    }
    .forum-desc {
      color: #999;
    }
    .forum-icon {
      float: left;
      width: 30px;
      margin-right: 20px;
      text-align: center;
    }
    a.forum-item-title {
      color: inherit;
      display: block;
      font-size: 18px;
      font-weight: 600;
    }
    a.forum-item-title:hover {
      color: inherit;
    }
    .forum-icon .fa {
      font-size: 30px;
      margin-top: 8px;
      color: #9b9b9b;
    }
    .forum-item.active .fa {
      color: #1ab394;
    }
    .forum-item.active a.forum-item-title {
      color: #1ab394;
    }
    @media (max-width: 992px) {
      .forum-info {
        margin: 15px 0 10px 0;
        /* Comment this is you want to show forum info in small devices */
        display: none;
      }
      .forum-desc {
        float: none !important;
      }
    }
    
    
    
    
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox.collapsed .ibox-content {
      display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077";
    }
    .ibox:after,
    .ibox:before {
      display: table;
    }
    .ibox-title {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 3px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .ibox-footer {
      color: inherit;
      border-top: 1px solid #e7eaec;
      font-size: 90%;
      background: #ffffff;
      padding: 10px 15px;
    }
    
    .message-input {
        height: 90px !important;
    }
    .form-control, .single-line {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }
    .text-navy {
        color: #1ab394;
    }
    .mid-icon {
        font-size: 66px !important;
    }
    .m-b-sm {
        margin-bottom: 10px;
    }









    .search {
        box-shadow: 0 20px 10px -10px rgba(200, 200, 200, 0.5);
        display: inline-block;
      }
      
      .search__input {
        border: 0;
        outline: 0;
        line-height: 50px;
        font-size: 14px;
        padding: 0 18px;
        float: left;
      }
      
      .search__button {
        box-shadow: -10px 0 10px -5px rgba(90, 238, 209, 0.5);
        color: #fff;
        background-color: #5AEED1;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border: 0;
        padding: 0;
        cursor: pointer;
        outline: 0;
        transition: box-shadow 0.3s ease-out;
      }
      .search__button:active {
        box-shadow: -10px 0 10px -10px rgba(90, 238, 209, 0.5);
      }
      
      html {
        background-color: #EAEDF2;
        display: table;
        width: 100%;
        height: 100%;
        font-family: arial;
      }
      
      body {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }



    
      #grad1 {
    
      }
      
      #msform {
        text-align: center;
        position: relative;
       
      }
      
      #msform fieldset .form-card {
        background: white;
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        padding: 20px 40px 30px 40px;
        box-sizing: border-box;
        width: 94%;
        margin: 0 3% 20px 3%;
        position: relative
      }
      
      #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
      }
      
      #msform fieldset:not(:first-of-type) {
        display: none
      }
      
      #msform fieldset .form-card {
        text-align: left;
        color: #9E9E9E
      }
      
      #msform input,
      #msform textarea {
        padding: 0px 8px 4px 8px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
      
      }
      
      #msform input:focus,
      #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none;
        font-weight: bold;
        border-bottom: 2px solid skyblue;
        outline-width: 0
      }
      
      #msform .action-button {
        width: 100px;
        background: rgb(255,204,0);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px
      }
      
      #msform .action-button:hover,
      #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(255,204,0);
      }
      
      #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px
      }
      
      #msform .action-button-previous:hover,
      #msform .action-button-previous:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
      }
      
      select.list-dt {
        border: none;
        outline: 0;
        border-bottom: 1px solid #ccc;
        padding: 2px 5px 3px 5px;
        margin: 2px
      }
      
      select.list-dt:focus {
        border-bottom: 2px solid rgb(255,204,0);
      }
      
      .card {
        z-index: 0;
        border: none;
        border-radius: 0.5rem;
        position: relative
      }
      
      .fs-title {
        font-size: 25px;
        color: #2C3E50;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: left
      }
      
      #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey;
        margin-left: 45px;
      }
      
      #progressbar .active {
        color: #000000
      }
      
      #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 25%;
        float: left;
        position: relative
      }
      
      #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f023"
      }
      
      #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
      }
      
      #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f09d"
      }
      
      #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
      }
      
      #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
      }
      
      #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
      }
      
      #progressbar li.active:before,
      #progressbar li.active:after {
        background: skyblue
      }
      
      .radio-group {
        position: relative;
        margin-bottom: 25px
      }
      
      .radio {
        display: inline-block;
        width: 204;
        height: 104;
        border-radius: 0;
        background: lightblue;
        box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        cursor: pointer;
        margin: 8px 2px
      }
      
      .radio:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
      }
      
      .radio.selected {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
      }
      
      .fit-image {
        width: 100%;
        object-fit: cover
      }
      
      
      input[type="radio"] { display: none; } 
      input[type="radio"] + label { font-weight: 400; font-size: 17px; } 
      input[type="radio"] + label span { display: inline-block; width: 18px; height: 18px; 
        margin: -2px 10px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%;
         border-radius: 50%; border: 3px solid #ffffff; } 
         
      input[type="radio"] + label span { background-color: #fff; } 
      
      input[type="radio"]:checked + label { color: #333; font-weight: 700; }
      
      
      input[type="radio"]:checked + label span { background-color: #ff8800; border: 2px solid #ffffff; box-shadow: 2px 2px 2px rgba(0,0,0,.1); } input[type="radio"] + label span,
      input[type="radio"]:checked + label span { -webkit-transition: background-color 0.24s linear; -o-transition: background-color 0.24s linear; -moz-transition: background-color 0.24s linear; transition: background-color 0.24s linear; }
        

















    
    
    